*{
    margin: 0;
    padding: 0;
}

body{
    background: lightcyan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    color: lightcyan;
    font-size: 18px;
    background: blue;
    padding: 6px;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 30px;
}

.btn:hover{
    cursor:pointer;
    background: lightcyan;
    border: 2px solid blue;
    color: blue;
}

.btn:active{
    transform: scale(0.99);
}